In [ ]:
i = 0
while i<= 10:
    print(i)
    i+=1

Task 1: Write a program that asks the user about the number of values he/she wants to enter. Than enter the values as per the required number, calculate its sum and identify the smallest value among them.

In [ ]:
nums = int(input("Enter the number of values to be input: "))
i = 0
j = 0
sumation, small = 0 , 10**100
while i < nums:
    num = int(input("Enter the number:"))
    if num<small:
        small=num
    sumation+=num
    i+=1
    
print("The sum is :", sumation)
print("The smallest value of entered number is ", small)

Write a function factorial that accepts an integer as parameter and returns its factorial. 
Using the factorial function, write a program that evaluates the factorials of the integers from 1 to 5. Print the results in tabular format as following.

In [ ]:
n = 5
i = 1
fact = 1
print("x\tFactorial of the number x\n")
while i <n:
    if n>1:
        fact*=i                        #fact = fact*i
    print(i,"\t", fact,sep="")
    i+=1

Task 3: Write a program that plays an incredibly stupid number-guessing game. The user will try to guess the secret number until they get it right. That means it will keep looping as long as the guess is different from the secret number. You must store the secret number in a variable, and use that variable throughout. The secret number itself must not appear in the program at all, except in the one line where you store it into a variable. Sample output is as following:

In [38]:
rand = 5
guess = 11
print("I have chosen a number between 1 and 10 try to guss it..")
while guess!=rand:
    guess=int(input("Guess: "))
    if guess==rand:
        print("That's right! You guessed it. ")
    else:
        print("That is incorrect Guess again")

I have chosen a number between 1 and 10 try to guss it..
Guess: 5
That's right! You guessed it.

Task 5: An integer is said to be prime if it is divisible only by 1 and itself. For example, 2, 3, 5 and 7 are prime, but 4, 6, 8 and 9 are not.
a)	Write a function that determines if a number is prime.

In [11]:
num = int(input("Enter the number:"))
i = 2
prime=True
while i < num:
    if num%i ==0:
        prime=False
        break
    i+=1
if prime:
    print(num, "is prime")
else:
    print(num, "is not prime")

Enter the number:7
7 is prime

In [8]:
#cost_price = 190000
if cost_price > 100000:
    tax = cost_price * 0.15
elif cost_price > 50000:
    tax = cost_price * 0.1
else :
    tax = cost_price * 0.05
cost_price = float(input("Enter the cost price of the bike: "))
print("Road tax to be paid: Rs.", tax)

Enter the cost price of the bike: 60000
Road tax to be paid: Rs. 18000.0

# For loop

In [13]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [15]:
for i in range(10):
    print(i, "Muhamamd Hassan")

0 Muhamamd Hassan
1 Muhamamd Hassan
2 Muhamamd Hassan
3 Muhamamd Hassan
4 Muhamamd Hassan
5 Muhamamd Hassan
6 Muhamamd Hassan
7 Muhamamd Hassan
8 Muhamamd Hassan
9 Muhamamd Hassan

In [26]:
print("Number\t\tSquare\t\tCube")
for i in range(1,21):
    print(i, "\t\t",i**2,"\t\t", i**3)

Number		Square		Cube
1 		 1 		 1
2 		 4 		 8
3 		 9 		 27
4 		 16 		 64
5 		 25 		 125
6 		 36 		 216
7 		 49 		 343
8 		 64 		 512
9 		 81 		 729
10 		 100 		 1000
11 		 121 		 1331
12 		 144 		 1728
13 		 169 		 2197
14 		 196 		 2744
15 		 225 		 3375
16 		 256 		 4096
17 		 289 		 4913
18 		 324 		 5832
19 		 361 		 6859
20 		 400 		 8000


Task 3: Write a program that uses a for loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.

In [29]:
for i in range(8, 90, 3):
    print(i, end=" ")

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

Task 4: Write a program that asks the user for their name and how many times to print it. The program should print out the userâ€™s name the specified number of times.

In [31]:
name = input("Enter you name: ")
n = int(input("How many time to print."))
for i in range(n):
    print(name)

Enter you name: hassan
How many time to print.5
hassan
hassan
hassan
hassan
hassan

In [37]:
height = int(input("Enter the height: "))
for i in range(height):
    print("*"*(i+1))

Enter the height: 4
*
**
***
****